<mat-card class="image-viewer-card" *ngIf="currentImage.imageName">
    <mat-card-header>
        <mat-card-title>{{ currentImage.imageName }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <mat-button-toggle-group name="previewTypeGroup" value="frame">
            <button mat-button (click)="setPreviewType('frame')" value="frame">Frame Projected</button>
            <button mat-button (click)="setPreviewType('maps') " value="maps">Map Projected</button>
        </mat-button-toggle-group>
    </mat-card-actions>
    <img mat-card-image [src]="previewImagePath()" [alt]="previewImageAltText()">
</mat-card>
