<mat-card class="image-viewer-card">
    <max-card-header>
        <mat-card-title>Image Name</mat-card-title>
        <!-- <mat-card-subtitle>Projection Type?</mat-card-subtitle> -->
    </max-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <!-- <mat-card-content>
        <p>Text would go here, but we probably don't need it.</p>
    </mat-card-content> -->
    <mat-card-actions>
        <button mat-button>Map Projected</button>
        <button mat-button>Frame Projected</button>
    </mat-card-actions>
</mat-card>
